* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f2e3f;
}

/* NAVBAR */
.navbar {
    background: #ffffff;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #1abc9c;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

/* HERO */
.hero {
    background: #ffffff;
    margin: 70px auto;
    width: 85%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    white-space: initial;
    align-items: center;
    padding: 60px;
    position: relative;
}

/* IMAGE */
.hero-image {
    flex: 1;
}

.hero-image img {
    width: 500px;
    max-width: 900px;
    height: 500px;
}

/* CONTENT */
.hero-content {
    flex: 1;
    padding-left: 40px;
}

.intro {
    color: #1abc9c;
    font-size: 14px;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 48px;
    color: #222;
    text-align: center;
    justify-content: center;
    
}

.hero-content h3 {
    font-size: 20px;
    margin: 15px 0;
    color: #555;
}

.description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #1abc9c;
}

.primary {
    background: #1abc9c;
    color: #fff;
}

.secondary {
    background: transparent;
    color: #1abc9c;
}
